RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php [NC,L]


RewriteEngine on
RewriteCond %{HTTP_HOST} ^indyjunkbusters\.com$
RewriteRule ^/?$ "https\:\/\/www\.indyjunkbusters\.com\/" [R=301,L]

RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^test\.indyjunkbusters\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.test\.indyjunkbusters\.com$
RewriteRule ^/?$ "https\:\/\/test\.indyjunkbusters\.com\/" [R=301,L]